.popover {
  position: relative;
  width: 235px;
  box-sizing: border-box;
  padding: 20px;
  background-color: @color-contrast;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: visible !important;

  &__button-close {
    #default > .button();

    position: absolute;
    top: -7px;
    right: -7px;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 0;
    border-radius: 50%;
    background-color: @color-text_light;
    border: none;
  }

  &__icon-close {
    width: 8px;
    height: 8px;
    fill: @color-contrast;
  }
}
