.category-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 12px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.15px;
  border-radius: 4px;
  transition: background-color 0.1s linear;
  box-sizing: border-box;

  @media @desktop {
    font-size: 14px;
    line-height: 16px;
  }

  &__circle {
    margin-right: 10px;
  }

  &__title {
    #default > .reset-indents();

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__count-tasks {
    margin-left: 5px;
    margin-right: 10px;
    color: @color-text_light;
  }

  &__button-delete {
    margin-left: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s linear, visibility 0.15s linear;
  }

  &:hover &__button-delete {
    opacity: 1;
    visibility: visible;
  }
}
