.circle {
  width: 6px;
  height: 6px;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: border-color 0.15s linear;
  cursor: pointer;

  &_active {
    border-color: @color-text;
  }

  &_size_big {
    width: 16px;
    height: 16px;
  }
}
