.button {
  #default > .button();

  padding: 9px 15px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  border-radius: 4px;
  transition: background-color 0.15s linear, color 0.15s linear;

  &_view_main {
    color: @color-contrast;
    background-color: @color-main;

    &:hover {
      background-color: lighten(@color-main, 7%);
    }

    &:active {
      background-color: darken(@color-main, 7%);
    }

    &:disabled {
      color: @gray_light;
      background-color: @gray_darken;
    }
  }

  &_view_secondary {
    color: @color-text_light;
    background-color: @gray_lighten;

    &:hover {
      background-color: darken(@gray_lighten, 5%);
    }

    &:active {
      background-color: darken(@gray_lighten, 10%);
    }
  }
}
