.form {
  &_view_row {
    display: flex;
  }

  &__field {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &_view_row &__field {
    margin-right: 15px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  &__field button {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__input,
  &__textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 7px 10px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.15px;
    color: @color-text;
    border: 1px solid @gray_light;
    border-radius: 4px;
    transition: border-color 0.15s linear;

    &:focus {
      border-color: @gray_darken;
      outline: none;
    }
  }

  &__textarea {
    height: 40px;
    resize: none;
  }

  &__button-fluid {
    width: 100%;
    justify-content: center;
  }
}
