.edit-slogan {
  display: flex;
  align-items: center;

  &__slogan {
    #default > .reset-indents();
    margin-right: 10px;

    font-size: 32px;
    line-height: 39px;
    font-weight: bold;
  }

  &__link {
    position: relative;
    color: currentColor;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 1px;
      background-color: currentColor;
      transition: width 0.15s ease-in-out;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__button-container {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s linear, visibility 0.15s linear;
  }

  &:hover &__button-container {
    opacity: 1;
    visibility: visible;
  }
}
