.list-category {
  #default > .reset-indents-list();

  &__item {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: block;
    color: @color-text;
    text-decoration: none;
    border-radius: 4px;

    &_state_active {
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
      background-color: @color-contrast;
    }

    &:hover {
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
      background-color: @color-contrast;
      cursor: pointer;
    }
  }
}
