.tasks {
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid @gray_light;
  }

  &__slogan {
    margin-right: 20px;
  }

  &__filter {
    margin-left: auto;
  }

  &__list {
    margin-bottom: 30px;
  }
}
