.welcome {
  padding: 60px 50px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__slogan,
  &__title {
    #default > .reset-indents();
  }

  &__slogan {
    margin-bottom: 15px;
    font-size: 32px;
    line-height: 39px;
    font-weight: bold;
    color: @gray_darkness;
  }

  &__title {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: @gray_darken;
  }
}
