.select {
  min-width: 200px;

  & &__control {
    min-height: unset;
    padding: 7px 10px;
    border: 1px solid @gray_light;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      border-color: @gray_darken;
      box-shadow: none;
    }

    &--is-focused {
      border-color: @gray_darken;
      box-shadow: none;
    }
  }

  & &__value-container {
    padding: 0;
    padding-right: 5px;
  }

  & &__placeholder,
  & &__single-value {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.15px;
  }

  & &__placeholder {
    color: @gray_darken;
  }

  & &__single-value {
    color: @color-text;
  }

  & &__indicator {
    padding: 0;
    padding-left: 5px;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  & &__indicator-separator {
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: @gray_light;
  }

  & &__menu-list {
    border-color: 1px solid @gray_light;
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  }

  & &__option {
    font-size: 12px;
    line-height: 16px;

    &--is-focused {
      color: @color-text;
      background-color: @color-main_light;
    }

    &--is-selected {
      font-weight: 600;
      color: @color-contrast;
      background-color: @color-main;
    }

    &:hover {
      background-color: @gray;
    }

    &:active {
      background-color: @gray;
    }

    &--is-selected:hover,
    &--is-selected:active {
      color: @color-contrast;
      background-color: @color-main;
    }
  }
}
