.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__container {
    display: flex;
    flex-grow: 1;
  }

  &__sidebar {
    width: 260px;
    background-color: @gray_light;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 55px;
    border-right: 1px solid @gray_light;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  }

  &__content-item {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
