.button-action {
  #default > .button();

  width: 10px;
  height: 10px;
  padding: 0;

  &_size_middle {
    width: 12px;
    height: 12px;
  }

  &_size_big {
    width: 14px;
    height: 14px;
  }

  &__icon {
    width: 10px;
    height: 10px;
    fill: @gray;
    transition: fill 0.15s linear;
  }

  &_size_middle &__icon {
    width: 12px;
    height: 12px;
  }

  &_size_big &__icon {
    width: 14px;
    height: 14px;
  }

  &:hover &__icon {
    fill: @gray_darken;
  }
}
