.tasks-item {
  display: flex;
  align-items: center;

  &__content {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }

  &__label {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.15s linear;

    &_state_checked {
      color: @gray_darken;
      text-decoration: line-through;
    }
  }

  &__indicator {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    margin-right: 15px;
    border: 2px solid @gray;
    border-radius: 50%;
    transition: border-color 0.15s linear, background-color 0.15s linear;
  }

  &__indicator-icon {
    width: 14px;
    height: 14px;
    stroke: @color-contrast;
    opacity: 0;
    visibility: hidden;
  }

  &__checkbox:checked + &__indicator {
    background-color: @color-main;
    border-color: @color-main;
  }

  &__checkbox:checked + &__indicator &__indicator-icon {
    opacity: 1;
    visibility: visible;
  }

  &__actions {
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s linear, visibility 0.15s linear;
  }

  &:hover &__actions {
    opacity: 1;
    visibility: visible;
  }

  &__action {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}
