.button-icon {
  #default > .button();
  width: 100%;
  align-items: center;
  padding: 10px 12px;
  border-radius: 4px;
  transition: background-color 0.15s linear, color 0.15s linear;

  &_state_active {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
    background-color: @color-contrast;
  }

  &:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
    background-color: @color-contrast;
  }

  &_view_hover-color:hover {
    color: @color-text_light;
    box-shadow: none;
    background-color: transparent;
  }

  &__icon {
    width: 12px;
    height: 12px;
    margin-right: 10px;
    fill: @gray_darkness;
    stroke: @gray_darkness;
  }
}
